body {
  background-color: #fff;
  font-family: 'Merriweather Sans';
  font-weight: 300;
}

#logo-container {
  font-family: 'Vollkorn';
}

h1, h2, h3 {
  font-family: 'Vollkorn' !important;
}

h1 {
  font-size: 58px;
  color: #BC3658;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  margin: 3% 6%;
  text-align: left;
}

p {
  margin: 2% 6%;
  color: #1b1e24;
  font-size: 1em;
  line-height: 200%;
}